.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #E0E0E0;
    height: 100vh;
    overflow-y: auto;
    padding-top: 50px;

}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 300px;
    padding: 40px; 
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    font-size: 2rem;
    color: #161B33;
    margin-bottom: 20px;
    text-align: center;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-button {
    padding: 10px 15px;
    background-color: #474973;
    color: #F1DAC4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #161B33;
}

.error-message, .success-message {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .error-message {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .success-message {
    background-color: #d4edda;
    color: #155724;
  }
  