.people-container {
    padding: 20px;
    background-color: #E0E0E0;
    min-height: 100vh;
}

.people-list {
    list-style: none;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

.person {
    background-color: #FFFFFF;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #161B33;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    padding: 5px 10px;
    background-color: #474973;
    color: #F1DAC4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #161B33;
}
